In [56]:
import pandas as pd
list=[12,23,34,45,56,78]
series1=pd.Series(list1)
series1

0    12
1    23
2    34
3    45
4    56
5    78
dtype: int64

In [57]:
list2=['this','is','dsa','session']
series2=pd.Series(list2)
series2

0       this
1         is
2        dsa
3    session
dtype: object

In [58]:
import numpy as np
data=np.array([78,34,34,45,56])
series3=pd.Series(data)
series3

0    78
1    34
2    34
3    45
4    56
dtype: int32

In [59]:
series1[3]

45

In [60]:
series1[1:4]

1    23
2    34
3    45
dtype: int64

In [61]:
series1[::2]

0    12
2    34
4    56
dtype: int64

In [63]:
series_1=pd.Series(list1,index=['one','two','three','four','five','six'])
series_1

one      12
two      23
three    34
four     45
five     56
six      78
dtype: int64

In [64]:
series_1['three']

34

In [65]:
series_1>40

one      False
two      False
three    False
four      True
five      True
six       True
dtype: bool

In [67]:
series_1[series_1>40]

four    45
five    56
six     78
dtype: int64

In [68]:
series1.min()

12

In [69]:
series1.max()

78

In [71]:
series1[(series1>25)&(series1<50)]

2    34
3    45
dtype: int64

In [72]:
series1+10

0    22
1    33
2    44
3    55
4    66
5    88
dtype: int64

In [73]:
series1*10

0    120
1    230
2    340
3    450
4    560
5    780
dtype: int64

In [74]:
data={'ram':45,'rishi':46,'vicky':37,'nakul':40}
marks=pd.Series(data)
marks

ram      45
rishi    46
vicky    37
nakul    40
dtype: int64

In [75]:
name={'nakul','ram','rishi','rohit','vihaan','vicky'}
marks1=pd.Series(data,index=name)
marks1

ram       45.0
vicky     37.0
nakul     40.0
rohit      NaN
vihaan     NaN
rishi     46.0
dtype: float64